.googleSearch {
	/* background-color: green; */
	width: 50%;
	left: 25%;
}
.quickLinks {
	/* background-color: purple; */
	/* width: 30%; */
	left: 42%;
	font-size: 150%;
}
.weatherForecast {
	display: none;
}