.googleSearch {
	/* background-color: green; */
	width: 50%;
	left: 25%;
}
.quickLinks {
	/* background-color: purple; */
	/* width: 30%; */
	left: 39%;
	font-size: 180%;
}
ul li {
	margin-left: 30px;
	margin-top: -10px;
}
.weatherForecast {
	display: none;
}
/* .programmerQuotes {
	display: none;
} */