:root {
  --bg-color: #303030;
  --font-color-primary: #dddddd;
  --font-color-secondary: #82a7c7;
  --font-color-primary-dark: #757575;
  --font-color-secondary-dark: #57728A;
  --font-size: 2rem;
}

body {
  margin: 0;
  overflow: hidden;
  background: var(--bg-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 40px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--font-color-secondary);
  border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--font-color-secondary-dark);
}

.page-container {
  background: var(--bg-color);
  color: var(--font-color-primary);
  font-family: 'Roboto Mono', monospace;
  font-family: 'Space Mono', monospace;
  width: max-content;
  margin: 15vh auto 0;
  padding: 0 2em;
}

.header {
  font-size: calc(3 * var(--font-size));
  font-weight: 700;
  user-select: none;
  line-height: 1em;
}

.sub-header {
  font-size: var(--font-size);
  color: var(--font-color-secondary);
  font-style: italic;
  user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
}

.links-container {
  font-size: var(--font-size);
  padding: 0 1em;
  margin-top: 1em;
  max-height: 50vh;
  overflow-y: scroll;
}

.links-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.line-container {
  display: flex;
}

.google-links {
  display: flex;
  justify-content: center;
}

a.svg-icon {
  margin: 0 0.25em;
  height: var(--font-size);
  width: var(--font-size);
}

a.svg-icon img {
  height: var(--font-size);
  width: var(--font-size);
}

li.line-container {
  margin-left: 1.5em;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease;
}

.line-text {
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  color: var(--font-color-primary);
  display: flex;
}

a.line-text {
  color: var(--font-color-secondary);
}

.line-text:hover,
.line-text:focus {
  text-decoration: none;
  color: var(--font-color-primary-dark);
}

.folder::before,
.link::before {
  content: "";
  width: var(--font-size);
  height: var(--font-size);
  left: 0;
  bottom: 0;
  margin: auto 0.5em auto 0;
  background-repeat: no-repeat;
  background-position: center;
}

.folder:not(.open)::before {
  background-image: url('../icons/folder.svg');
}

.folder.open::before {
  background-image: url('../icons/folder-open.svg');
}

.link::before {
  background-image: url('../icons/link.svg');
}

.folder:not(.open) ~ li {
  opacity: 0;
  transform: translateY(-100%);
  max-height: 0;
  transition: none;
  pointer-events: none;
}