/*#######################################################################################################################*/
/*#General###############################################################################################################*/
/*#######################################################################################################################*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body * {
	font-family: 'Hack';
	color: rgb(250, 250, 250);
	user-select: none;
}
/*#######################################################################################################################*/
/*#QuickLink#############################################################################################################*/
/*#######################################################################################################################*/
.quickLinks {
	/* background-color: green; */

	position: relative;
	width: 50%;
	left: 25%;
	height: 100%;
	height: auto;
	
	font-size: 20;
}
.quickLinks ul {
	list-style-type: none;
}
ul li ul li {
	display: none;
}
ul li {
	position: relative;
	margin-left: 21px;
	margin-top: -6px;
}
/* Folder and Links */
li.folderClosed:before,
li.folderOpened:before,
li.link:before,
li.first.folderClosed:before,
li.first.folderOpened:before,
li.first.link:before,
li.last.folderClosed:before,
li.last.folderOpened:before,
li.last.link:before {
	font-family: 'FontAwesome';
	color: rgb(250, 250, 250);
}

li.folderClosed:before {
	content: '\251C \00A0 \F07B \00A0';
}
li.folderOpened:before {
	content: '\251C \00A0 \F07C \00A0';
}
li.link:before {
	content: '\251C \00A0 \F0C1 \00A0';
}
li.first.folderClosed:before {
	content: '\250C \00A0 \F07B \00A0';
}
li.first.folderOpened:before {
	content: '\250C \00A0 \F07C \00A0';
}
li.first.link:before {
	content: '\250C \00A0 \F0C1 \00A0';
}
li.last.folderClosed:before {
	content: '\2514 \00A0 \F07B \00A0';
}
li.last.folderOpened:before {
	content: '\2514 \00A0 \F07C \00A0';
}
li.last.link:before {
	content: '\2514 \00A0 \F0C1 \00A0';
}

li.folderClosed, li.folderOpened {
	color: darkgrey;
}
a:link, a:visited {
	color: rgb(24, 163, 154);
}
li a:hover {
	color: crimson;
}
/*#######################################################################################################################*/
/*#GoogleSearch##########################################################################################################*/
/*#######################################################################################################################*/
.googleSearch {
	/* background-color: black; */
	background-color: #323639;
	position: fixed;
	width: 53%;
	top: 200px;
	left: 23.5%;
	height: 100%;
	z-index: 1;
}
.googleSearch img {
	position: relative;
	width: 50%;
	left: 25%;
	margin-bottom: 10px;
}
/*#######################################################################################################################*/
/*#WeatherForecast#######################################################################################################*/
/*#######################################################################################################################*/
.weatherForecast {
	position: absolute;
	width: 575px;
	top: 0px;
	left: 0px;
}
.sunText {
	position: relative;
	top: -40px;
	left: 15px;

	font-size: 25px;
}
.sunIcon {
	position: relative;
	top: -20px;
	left: 10px;
}
.otherText {
	position: relative;
	top: -30px;
	margin-right: 20px;

	font-size: 40px;
}
.otherIcon {
	position: relative;
	top: -20px;
}
.forecastText {
	position: relative;
	top: -7px;
}
.forecastImg {
	position: relative;
	top: -20px;
}
.onLeft {
	float: left;
}
.tempDiv {
	position: relative;
	top: -15px;
}
.forecast {
	position: relative;
	top: 200px;
	width: 390px;
	left: 50px;
	height: auto;

	display: none;
}
.showForecast {
	/* background: red; */
	background-color: #323639;
	position: fixed;
	width: 575px;
	height: 200px;
	z-index: 1;
}
/*#######################################################################################################################*/
/*#ProgrammerQuotes######################################################################################################*/
/*#######################################################################################################################*/
.programmerQuotes {
	background-color: green;
	position: fixed;
	width: 53%;
	left: 23.5%;
	height: 100%;
	
	font-size: 20;
}