body {
	background-color: #323639;
	overflow: hidden;
	font-size: 20;
	color: rgb(250, 250, 250);
	font-family: 'Hack';
	user-select: none;
}

ul {
	list-style-type: none;
	color: #2186D1;
	margin-left: -20px;
}

ul li:before {
	content: '\251C';
	color: rgb(250, 250, 250);
}

ul li.first:before {
	content: '\250C';
	color: rgb(250, 250, 250);
}

ul li.last:before {
	content: '\2514';
	color: rgb(250, 250, 250);
}

ul li.folderClosed:before {
	font-family: 'FontAwesome';
	content: '\251C \00a0 \f07b \00a0';
	color: rgb(250, 250, 250);
}
ul li.folderOpened:before {
	font-family: 'FontAwesome';
	content: '\251C \00a0 \f07c \00a0';
	color: rgb(250, 250, 250);
}
ul li.link:before {
	font-family: 'FontAwesome';
	content: '\251C \00a0 \f0c1 \00a0';
	color: rgb(250, 250, 250);
}

ul li.first.folderClosed:before {
	font-family: 'FontAwesome';
	content: '\250C \00a0 \f07b \00a0';
	color: rgb(250, 250, 250);

}
ul li.first.folderOpened:before {
	font-family: 'FontAwesome';
	content: '\250C \00a0 \f07c \00a0';
	color: rgb(250, 250, 250);

}
ul li.first.link:before {
	font-family: 'FontAwesome';
	content: '\250C \00a0 \f0c1 \00a0';
	color: rgb(250, 250, 250);

}

ul li.last.folderClosed:before {
	font-family: 'FontAwesome';
	content: '\2514 \00a0 \f07b \00a0';
	color: rgb(250, 250, 250);

}
ul li.last.folderOpened:before {
	font-family: 'FontAwesome';
	content: '\2514 \00a0 \f07c \00a0';
	color: rgb(250, 250, 250);

}
ul li.last.link:before {
	font-family: 'FontAwesome';
	content: '\2514 \00a0 \f0c1 \00a0';
	color: rgb(250, 250, 250);

}

a, a:link, a:visited {
	text-decoration: none;
	color: #8EDFFF;
}

a:hover {
	color: red;
}

ul li ul {
	display: none;
}

i {
	margin-right: 3px;
}